* {
  text-decoration: none;
  color: black;
  font: Arial;
}
body {
    background-image: url('https://i.gifer.com/PvIF.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

.heading {
  padding: 5px;
  padding-left: 15px;
  text-align: center;
  color: red;
}

.headers {
  text-decoration: none;
  text-align: center;
  font: 16px;
  color: orange;
}

.navigationbar {
  background-color: black;
  color: white;
  padding-left: 0px;
}

.image {
  padding-left: 700px;
  align: right;
}

.images {
  padding-left: 25px;
}

.paragraph {
  text-decoration: none;
  text-align: left;
  color: orange;
  font: 12px;
  padding-left: 5px;
}

.list {
  padding-left: 25px;
}

body {
  text-align: center;
  font-family: "Roboto", monospace;
}
